<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<!-- 🔹 Навбар -->
<div th:replace="~{fragments/header :: body}"></div>
<div class="container flex-grow-1 mt-4">
  <h2 class="text-center mb-4">РЕДАКТИРОВАТЬ СКЛАД</h2>

  <div class="form-container">
    <form th:action="@{'/warehouse/' + ${warehouse.id} + '/edit'}" th:object="${warehouse}"
          method="post">
      <!-- скрытое поле для "обмана" браузера -->
      <input type="hidden" name="_method" value="put"/>

      <!-- Название -->
      <div class="mb-3">
        <label class="form-label">Название <span class="text-danger">*</span></label>
        <input type="text" class="form-control" th:field="*{name}" placeholder="Введите название">
      </div>
      <div class="mb-3">
        <label class="form-label">Адрес <span class="text-danger">*</span></label>
        <input type="text" class="form-control" th:field="*{address}" placeholder="Введите адрес">
      </div>

      <!-- Кнопка -->
      <div class="text-center">
        <button type="submit" class="btn-submit">Обновить</button>
      </div>
    </form>
  </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>