<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<!-- 🔹 Навбар -->
<div th:replace="~{fragments/header :: body}"></div>
<div class="container flex-grow-1 mt-4">
  <h2 class="text-center mb-4">РЕДАКТИРОВАТЬ КЛАДОВЩИКА</h2>

  <div class="form-container">
    <form th:action="@{'/storekeeper/' + ${storekeeper.id} + '/edit'}" th:object="${storekeeper}"
          method="post">
      <!-- скрытое поле для "обмана" браузера -->
      <input type="hidden" name="_method" value="put"/>

      <!-- Название -->
      <div class="mb-3">
        <label class="form-label">Фамилия <span class="text-danger">*</span></label>
        <input type="text" class="form-control" th:field="*{lastName}">
        <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
      </div>

      <div class="mb-3">
        <label class="form-label">Имя <span class="text-danger">*</span></label>
        <input type="text" class="form-control" th:field="*{firstName}">
        <div class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
      </div>

      <div class="mb-3">
        <label class="form-label">Отчество </label>
        <input type="text" class="form-control" th:field="*{middleName}">
        <div class="text-danger" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
      </div>

      <div class="mb-3">
        <label class="form-label">email <span class="text-danger">*</span></label>
        <input type="text" class="form-control" th:field="*{email}">
        <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      </div>

      <div class="mb-3">
        <label class="form-label">Дата рождения <span class="text-danger">*</span></label>
        <input type="date" class="form-control"
               th:field="*{birthday}"
               th:value="${#temporals.format(storekeeper.birthday, 'yyyy-MM-dd')}">

        <div class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
      </div>

      <!-- Кнопка -->
      <div class="text-center">
        <button type="submit" class="btn-submit">Обновить</button>
<!--        <a th:href="@{/storekeeper/{id}/delete(id=${storekeeper.id})}"-->
<!--           class="btn-submit">-->
<!--          Удалить-->
<!--        </a>-->
        <button type="button"
                class="btn-submit"
                data-bs-toggle="modal"
                data-bs-target="#confirmDeleteModal"
                th:data-id="${storekeeper.id}"
                th:data-name="${storekeeper.lastName}">
          Удалить
        </button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Подтверждение удаления</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить сотрудника <strong id="deleteItemName">...</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <form id="deleteForm" method="get">
          <input type="hidden" name="_method" value="delete"/>
          <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Скрипт для подстановки id -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const deleteModal = document.getElementById("confirmDeleteModal");
    const deleteForm = document.getElementById("deleteForm");
    const deleteItemName = document.getElementById("deleteItemName");

    deleteModal.addEventListener("show.bs.modal", event => {
      const button = event.relatedTarget;
      const id = button.getAttribute("data-id");
      const name = button.getAttribute("data-name");

      // Подставляем название
      deleteItemName.textContent = name;

      // Формируем action
      deleteForm.action = "/storekeeper/" + id + "/delete";
    });
  });
</script>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>